body {
    background-color: blue; 
    color: orange; 
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif; 
    margin: 10px; 
    }
img {
    background-color: black; 
    float: right;
    margin: 15px;
    border-radius: 50px 50px 50px 50px;
    border: solid 2px orange;
}
h1
{
    color: orange;
}
p{
    color:white
}
th{
    color: orange;
    background-color: black;
    border: solid 2px orange;
    border-radius: 10px 0 10px 0;
}
td{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    color: rgb(252, 252, 252);
    border: solid 1px white;
}